.my-title {
    font-size: 24px;
    color: black;
    font-weight: bold;

}

/*Define styles for body text*/
.my-body-text {
    font-size: 16px;
    color: black;
    font-weight: normal;
}

#my-footer-id{
    font-size: 12px;
    color: red;
    font-weight: lighter;
}

header{
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
}

main{
    background-color: red;
    text-align: left;
    padding: 40px;
}

footer{
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
}