.my-title {
    font-size: 24px;
    color: black;
    font-weight: bold;

}

/*Define styles for body text*/
.my-body-text {
    font-size: 16px;
    color: blue;
    font-weight: normal;
}

header{
    background-color: whitesmoke;
    text-align: center;
}

main{
    background-color: red;
    text-align: left;
}

footer{
    background-color: whitesmoke;
    text-align: center;
}